:global(.light) .App {
  background-color: white;
  color: black;

  a {
    color: dodgerblue;
  }
}

:global(.dark) .App {
  background-color: black;
  color: white;

  a {
    color: gold;
  }
}

.App {
  width: 100vw;
  height: 100vh;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
